.search-container {
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  line-height: 40px;
}
.search-container input {
  width: 75%;
}
.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.product-container {
  border-right: 1px solid lightgray;
  margin-right: 5px;
  margin-left: 50px;
}
.pagination {
  text-align: center;
  margin: 30px;
}
.pagination button {
  background-color: #b1b1b1;
  border: none;
  padding: 15px 30px;
  margin-right: 20px;
  cursor: pointer;
}

.pagination .selected {
  background-color: tomato;
  color: white;
  font-weight: bolder;
}
